################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/MMSaveEditor.csproj.user
/MMSaveEditor.csproj.user
/.vs/MMSaveEditor/v15/.suo
/bin/Debug
/packages
/sampleData.json
/obj/Release
/obj/Release
/obj/Release/MMSaveEditor_MarkupCompile.lref
/obj/Release/MMSaveEditor_MarkupCompile.cache
/obj/Release/MainWindow.g.cs
/obj/Release/GeneratedInternalTypeHelper.g.cs
/obj/Release/CoreCompileInputs.cache
/obj/Release/App.g.cs
/saveFileJSON.txt
/.vs/slnx.sqlite
/.vs/MMSaveEditor/v14/.suo
/bin/Release
/Installer/installer-cache
/Installer/Setup Files/installer.zip
/assetExtractor
/motorsport manager save backup.rar
/AssetsTools.lib
/AssetsTools.dll
*.suo
/FullSerializer/Internal/DirectConverters
