################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/MMSaveEditor.csproj.user
/MMSaveEditor.csproj.user
/.vs/MMSaveEditor/v15/.suo
/bin/Debug
/packages
/sampleData.json
