<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="oe9jM16zOSr+k2/c6ijPiJ0gSlCsqvvCPjS407fhHTY=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="+UXSCSbAqtlNL0l7QKZw6xBuhUkVbZ4Zd1U2r6Du5lzvGPfoIDnchFOxR86eYkjT3IPCaA5A1ZWRY6gSw6GGNnAng1Jsm6qJh/QAAa3UcH4s6xyFDWoueIYdQx/8WbniyxgpEo++rwTqnrlyoch2mRiyaxBqAMNoVWtqZ+WmGoLRx9XDzzM7IEkXuNwLIBl1ooA8SfMwNDoVagVJd/BltQ==" />
    <add name="NBug.Properties.Settings.Destination2" connectionString="+UXSCSbAqtlNL0l7QKZw6xBuhUkVbZ4Zd1U2r6Du5lzvGPfoIDnchFOxR86eYkjT3IPCaA5A1ZWRY6gSw6GGNnAng1Jsm6qJh/QAAa3UcH4ZQnfdsYxpA+woOu9bLP0wMpDSZEDk5jIHfs1dPXt0/Mvz2AHE/XgdHLSpb1+zWmWxitzeGS8qGcDhPFZfgxsUpmdRqCWrgOfMzS5SJtawGQ==" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WPF</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Tiny</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>CurrentDirectory</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>