<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="I2kTpch1Dx0bsSbeUhgfTohj3APGX7569jlyF+EDcws=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="AXXkzpC+UMaCe86dbvqJBJLY+ZynTwMq4NfgR/Nh0oDgQjkxQMo5iclS2zkwnOMEsZLDHTX0V/uPsg4dyG0gWD6Ox56pQuBQ1H4satUuHZpZeM4Rd+Yv0nKXU2/jUB6eesm8dHWzHWv3XVABpjMLDA5vtVTfVpz/TaGe/MUt/+f3kz0HKQNz9T/JyCZauKWZVA4DRmFH/h1NwUog+g/w7btR4/oALQJStwFK4xPOn5uShgCvtn+n+LFUkP4Rq99rE7axC4+2WwINiGuPpdQlrz6SMT+9xq4k1qdYF6bCYvDfBavxGr0cgMomy6AIsrQ5" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WPF</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>